/* CSS declarations go here */

/* 
	Permet d'avoir le menu qui s'ouvre quand on passe au dessus avec la souris
*/
.dropdown:hover .dropdown-menu {
display: block;
}

/*.navbar-brand,
.navbar-nav li a {
    line-height: 42px;
    height: 60px;
    padding-top: 8px;
}
body {
  padding-top: 80px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}*/

/*.dropdown-menu li {
	line-height: 6px;
}*/


