/**
*  	 _____        __            _ _              _   _   _
* 	|  __ \      / _|          | | |            | | | | (_)
* 	| |  | | ___| |_ __ _ _   _| | |_   ___  ___| |_| |_ _ _ __   __ _ ___
* 	| |  | |/ _ \  _/ _` | | | | | __| / __|/ _ \ __| __| | '_ \ / _` / __|
* 	| |__| |  __/ || (_| | |_| | | |_  \__ \  __/ |_| |_| | | | | (_| \__ \
* 	|_____/ \___|_| \__,_|\__,_|_|\__| |___/\___|\__|\__|_|_| |_|\__, |___/
*                                                               __/ |
*                                                              |___/
**/

/** Add !important to override boostrap setting **/
body {
		padding-top: 64px;
}

/* Navbar on the top */
.navbar {
   background-color: #EFCFA0 !important;
   color:white !important;
}

/* Sidebar on the left */
.sidebar {
    position: fixed;
    width: 240px;
    height: 100%;
    background: white;
	overflow-y:auto;
    -webkit-box-shadow: 4px 0 3px -1px #888;
    -moz-box-shadow: 4px 0 3px -1px #888;
    -o-box-shadow: 4px 0 3px -1px #888;
    box-shadow: 4px 0 3px -1px #888;
}

.menuItem {
	color:black;
}

.sidebar-nav li {
    line-height: 40px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(51, 153, 255,0.15);
}

.sidebar-nav a {
	color: #fff;
}

.nav-sidebar-header {
	padding: 10px;
    font-size: 25px;

}

/* Content of the web site */
.page-content {
    margin-left: 240px;
    width: auto;
    overflow: auto;
    z-index: 1;
}

.page-content-no-left-margin {
    width: auto;
    position: relative;
    overflow: auto;
    z-index: 1;
}

.content {
	padding-top: 30px;
	padding-bottom: 30px;
  	color: inherit;
  	/* background-color: #ecf0f1; */
    background-color: white;
  	min-height: 652px;
}
#Wrapper {
    background-color: white;

}

/* Footer of the web site */
.footer {
    background: #EFCFA0;
}

/* Home page disign */
.homePage {
	padding: 30px;
    background: url(main2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Options */
.nopadding {
   		padding: 0 !important;
   		margin: 0 !important;
}

/* Permet d'avoir le menu qui s'ouvre quand on passe au dessus avec la souris */
.dropdown:hover .dropdown-menu {
	display: block;
}

/* Columun same height */
/* top row */
.col .well{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}


/* bottom row */
.col-base{
    margin-top: -15px; /* cut off top portion of bottom wells */
}

.col-wrap {
    overflow: hidden;
}

/**
* 	 __  __          _ _
* 	|  \/  |        | (_)
* 	| \  / | ___  __| |_  __ _
* 	| |\/| |/ _ \/ _` | |/ _` |
* 	| |  | |  __/ (_| | | (_| |
* 	|_|  |_|\___|\__,_|_|\__,_|
*
**/

/* If screen width larger than 1200 px */
@media (min-width: 981px) {
	body {
		padding-top: 64px;
		/*background: #FF9900; */
	}
}

/* If screen width smaller than */
/* Hide navside menu */
@media only screen and (max-width: 500px) {
    .sidebar {
        display: none;
    }

    .page-content {
        margin-left: 0;
    }
}
