
/* dragula-specific example page styles */
.wrapper {
  display: table;
  min-height: 400px;
  min-width: 200px;
  vertical-align: top;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.__slackin {
  float: right;
  margin-left: 10px;
  vertical-align: top;
}

#poolTable{
  background-color: inherit;
}

.parent{
  display: inline-block;
  vertical-align: top;
}

.poolContainer {
  display: table-cell;
  /*background-color: rgba(255, 255, 255, 0.2);*/
  min-width: 220px;
  min-height: 400px;
}
.poolContainer:nth-child(odd) {
  background-color: rgba(51, 153, 255, 0.5);
}
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.poolContainer > div,
.gu-mirror {
  margin: 10px;
  /*padding: 10px;*/
  /*background-color: rgba(0, 0, 0, 0.2);*/
  transition: opacity 0.4s ease-in-out;
}
.poolContainer > div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.removePoolButton{
  font-size:20px;
  color:red;
}

.pairs.ex-over >.wish_constraint>.list-group>.list-group-item{
  background-color:rgba(255, 255, 255, 0.3);
}

.pairs.ex-moved >.wish_constraint>.list-group>.list-group-item{
  color : green;
}

#pairstoremoveparent{
  margin-left:200px;
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}
