
/* dragula-specific example page styles */
.PoolWrapper {
  display: table;
  height: 640px;
  width: 250px;
  vertical-align: top;
  -moz-box-shadow: inset 0px 0px 4px 2px #656565;
  -webkit-box-shadow: inset 0px 0px 4px 2px #656565;
  -o-box-shadow: inset 0px 0px 4px 2px #656565;
  box-shadow: inset 0px 0px 4px 2px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
}

.poolLabel{
  padding: 5px;
  font-size: 2.5em;
  width: 250px;
}

.scoreButton{
  padding: 5px;
  width: 250px;
  -moz-box-shadow: 0px 0px 6px 2px #656565 !important;
  -webkit-box-shadow: 0px 0px 6px 2px #656565 !important;
  -o-box-shadow: 0px 0px 6px 2px #656565 !important;
  box-shadow: 0px 0px 6px 2px #656565 !important;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
}

.scoreButton:hover{
  -moz-box-shadow: 0px 0px 3px 1px #656565;
  -webkit-box-shadow: 0px 0px 3px 1px #656565;
  -o-box-shadow: 0px 0px 3px 1px #656565;
  box-shadow: 0px 0px 3px 1px #656565;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*.modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }*/

/*.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
}*/

.__slackin {
  float: right;
  margin-left: 100px;
  vertical-align: top;
}

#poolTable {
  background-color: inherit;
}

#specialTable {
  background-color: inherit;
}

.parent {
  display: inline-block;
  vertical-align: top;
  height:640px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.leaderStar{
  color:#4CC417;
}

.poolContainer {
  display: table-cell;
  width: 5%;
  padding-left: 5px;
  padding-right: 5px;
}

.poolColor:nth-child(odd){
  background-color: rgba(77, 136, 255, 0.5);
}

.aloneColor:nth-child(odd){
  background-color: rgba(0, 76, 153, 0.5);
}

.mergeColor:nth-child(odd){
  background-color: rgba(0, 76, 153, 0.5);
}

.splitColor:nth-child(odd){
  background-color: rgba(0, 76, 153, 0.5);
}

.buildColor:nth-child(odd){
  background-color: rgba(0, 76, 153, 0.5);
}

/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.poolContainer > div,
.gu-mirror {
  margin: 10px;
  /*padding: 10px;*/
  /*background-color: rgba(0, 0, 0, 0.2);*/
  transition: opacity 0.4s ease-in-out;
}
.poolContainer > .grabbable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.removePoolButton {
  font-size:20px;
  color:red;
}

.pairs.ex-moved >.list-group>.list-group-item {
  color : green;
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.btn-padding {
  margin-right: 10px;
}

/* If screen width higher than 1185px*/
@media only screen and (min-width: 991px) {

}