.inputscore{
  display:table-cell;
  vertical-align: middle;
}

#scoreTableElement > thead > tr > th{
	border:2px solid black;
}

#scoreTableElement > tbody > tr > th{
	border:2px solid black;
}

#scoreTableElement > tbody > tr > td{
	border:2px solid black;
}

.scoreTableFontSize{
	font-size:0.6em;
}

.scoreTableFontSize2{
	font-size:0.9em;
}
.selfMatch{
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.sweetAlertScroll{
  overflow: auto;
  max-height:600px;
}
